<html>
<head>
    <title>karst</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>

    <!-- Categories -->
    <form>
        <div class="form-group">
            <label for="CategoryName">Name</label>
            <input type="text" id="CategoryName" name="CategoryName">
        </div>
        <div class="form-group">
            <label for="CategoryDescription">Description</label>
            <textarea class="form-control" rows="5" id="CategoryDescription" name="CategoryDescription"></textarea>
        </div>
        <div class="form-group">
            <label for="CategorySup">Parent Category</label>
            <select id="CategorySup" name="CategorySup">
            </select>
        </div>
        <button id="AddCategory">Add Category</button>
    </form>

    <!-- Authors -->
    <form>
        <div class="form-group">
            <label for="AuthorName">Name</label>
            <input type="text" id="AuthorName" name="AuthorName">
        </div>
        <div class="form-group">
            <label for="AuthorDescription">Name</label>
            <textarea class="form-control" rows="5" id="AuthorDescription" name="AuthorDescription"></textarea>
        </div>
        <div class="form-group">
            <label for="AuthorCat">Parent Category</label>
            <select id="AuthorCat" name="AuthorCat">
            </select>
        </div>
        <div class="form-group">
            <label for="AuthorDates">Event</label>
            <select id="AuthorDates" name="AuthorDates">
            </select>
        </div>
        <div class="input-group date" data-provide="datepicker">
            <label for="Birthdate">Birthdate</label>
            <input type="text" id="Birthdate" class="form-control datepicker">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
        <div class="input-group date" data-provide="datepicker">
            <label for="Deathdate">Deathdate</label>
            <input type="text" id="Deathdate" class="form-control datepicker">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>

        <button id="AddAuthor">Add Author</button>
    </form>


        

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/104/three.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="packages/bootstrap-datepicker/bootstrap-datepicker.js"></script>

    <script src="js/debug.js" type="module"></script>
</body>
</html>
